{% extends 'templates/app.twig' %}

{% block css %}
    <style>
        form[name=edit] span {
            color: #ff0000;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="row mt-3 d-flex">
                {% include 'templates/left-sidebar.twig' %}
                <div class="order-1 order-md-2 col-12 col-md-8 col-lg-9">
                    <form name="edit" method="post" action="/post/{{ post.id }}/update">
                        {% include 'templates/csrf.twig' %}
                        <div class="row">
                            <div class="col-12 mb-2">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-save"></i> Update
                                </button>
                                <a class="btn btn-danger btn-delete ml-2" href="#" data-url="/post/{{ post.id }}/destroy">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </div>
                            <div class="col-12 mb-2">
                                <label class="sr-only" for="title">Title</label>
                                <input type="text" name="title" id="title" placeholder="Title" class="form-control"
                                       value="{{ post.title }}">
                                <span>{{ messages['errors'][0]['title']['notBlank'] }}</span>
                            </div>
                            <div class="col-12 mb-4"><label class="sr-only" for="description">Description</label>
                                <input type="text" name="description" id="description" placeholder="Description" class="form-control" value="{{ post.description }}">
                                <span>{{ messages['errors'][0]['description']['notBlank'] }}</span>
                            </div>
                            <div class="w-100 mt-3" id="form-codes">
                                {% for code in codes %}
                                    <div class="col-12 mb-3">
                                        <textarea id="code" name="code[]" class="form-control" style="min-height: 250px">{{ code }}</textarea>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-12 mb-2">
                                <button type="button" id="add-form" class="btn btn-info"><i class="fa fa-plus"></i> Add Form
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).on('click','.btn-delete', function(e){
            var r = confirm("Do you want to delete this code?");
            if (r == true) {
                var url = $(this).data('url');
                window.location.replace(url);
            }
            return false;
        });
        $(document).on('click','#add-form',function(e){
            $('#form-codes').append(`
                <div class="col-12 mb-3">
                    <label class="sr-only" for="code">Code</label>
                    <textarea id="code" name="code[]" class="form-control" style="min-height: 250px"></textarea>
                </div>
            `);
        });
    </script>
{% endblock %}