{% extends 'templates/app.twig' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="row mt-3 d-flex">
            {% include 'templates/left-sidebar.twig' %}
            <div class="order-1 order-md-2 col-12 col-md-8 col-lg-9">
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary mr-2" href="/post/{{ post.id }}/edit"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-danger btn-delete" href="#" data-url="/post/{{ post.id }}/destroy"><i class="fa fa-trash"></i> Delete</a>
                    </div>
                </div>
                <table class="table table-bordered table-sm mt-3">
                    <tbody>
                    <tr>
                        <th>Title</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ post.description }}</td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>{{ post.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Updated</th>
                        <td>{{ post.updated_at }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    {% for code in codes %}
                        <div class="col-12 mb-2">
                            <div class="w-100 text-right mb-1">
                                <a class="small ml-3 text-info" href="#">
                                    <i class="fa fa-file-text-o mr-1"></i>
                                    <span class="d-none d-md-inline-block">Plain Text</span>
                                    <span class="d-inline-block d-md-none">TXT</span>
                                </a>
                                <a class="small ml-3 text-info" href="#">
                                    <i class="fa fa-file-text-o mr-1"></i>
                                    <span>JSON</span>
                                </a>
                                <a class="small ml-3 text-info" href="#">
                                    <i class="fa fa-file-code-o mr-1"></i>
                                    <span class="d-none d-md-inline-block">Markdown</span>
                                    <span class="d-inline-block d-md-none">MD</span>
                                </a>
                                <a class="small ml-3 text-info" href="#">
                                    <i class="fa fa-picture-o mr-1"></i>
                                    <span class="d-none d-md-inline-block">PlantUML</span>
                                    <span class="d-inline-block d-md-none">UML</span>
                                </a>
                                <a class="small ml-3 text-info" href="#">
                                    <i class="fa fa-qrcode mr-1"></i>
                                    <span class="d-none d-md-inline-block">QR Code</span>
                                    <span class="d-inline-block d-md-none">QR</span>
                                </a>
                            </div>
                            <pre class="border bg-light w-100 p-3"><code class="auto hljs ebnf"><span class="hljs-attribute">{{ code }}</span></code></pre>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).on('click','.btn-delete', function(e){
        var r = confirm("Do you want to delete this code?");
        if (r == true) {
            var url = $(this).data('url');
            window.location.replace(url);
        }
        return false;
    });
</script>
{% endblock %}