{% extends 'templates/app.twig' %}

{% block css %}
<style>
    .alert i {
        cursor:pointer;
    }
    .card-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
</style>
{% endblock %}

{% block content %}
<main class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                {% if messages['errors'][0]['cred'] %}
                <div class="alert alert-danger" role="alert">
                    {{ messages['errors'][0]['cred'] }}
                    <i class="pull-right"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></i>
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header text-center">Login</div>
                    <div class="card-body">
                        <form action="/login/auth" method="POST">
                            {% include('templates/csrf.twig') %}
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}