{% extends 'templates/app.twig' %}

{% block css %}
<style>
    form[name=register] span {
        color: #ff0000;
    }
    .card-header {
        font-size: 20px;
        margin-bottom: 10px;
    }
     .alert i {
         cursor:pointer;
     }
</style>
{% endblock %}

{% block content %}
    <main class="register" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    {% if messages['success'][0] %}
                        <div class="alert alert-success" role="alert">
                            {{ messages['success'][0] }}
                            <i class="pull-right"><i class="pull-right"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button></i></i>
                        </div>
                    {% endif %}
                    <div class="card">
                        <div class="card-header text-center">Register</div>
                        <div class="card-body">
                            <form name="register" onsubmit="return validform()" action="/register/store" method="POST">
                                {% include('templates/csrf.twig') %}
                                <div class="form-group row">
                                    <label for="fname" class="col-md-4 col-form-label text-md-right">First Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="fname" class="form-control" name="fname">
                                        {% for row in messages['errors'][0]['fname'] %}
                                            <span>{{ row }}</span>,
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="lname" class="col-md-4 col-form-label text-md-right">Last Name</label>
                                    <div class="col-md-6">
                                        <input type="text" id="lname" class="form-control" name="lname">
                                        {% for row in messages['errors'][0]['lname'] %}
                                            <span>{{ row }}</span>,
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email" class="form-control" name="email">
                                        {% for row in messages['errors'][0]['email'] %}
                                            <span>{{ row }}</span>,
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password" class="form-control" name="password">
                                        {% for row in messages['errors'][0]['password'] %}
                                            <span>{{ row }}</span>,
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="password_confirmation" class="col-md-4 col-form-label text-md-right">Password Confirmation</label>
                                    <div class="col-md-6">
                                        <input type="password" id="password_confirmation" class="form-control" name="password_confirmation">
                                        {% for row in messages['errors'][0]['password_confirmation'] %}
                                            <span>{{ row }}</span>,
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

