@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    padding-top: 100px;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-brand , .nav-link
{
    font-family: Raleway, sans-serif;
}

.navbar-right li a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}