<!DOCTYPE html>
<html>

<head>
    <title>Cloudways</title>
    {% include 'templates/css.twig' %}
    {% block css %}{% endblock %}
</head>

<body>
    {% include 'templates/navigation.twig' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% include 'templates/js.twig' %}
    {% block js %}{% endblock %}
</body>

</html>