<div class="order-2 order-md-1 col-12 col-md-4 col-lg-3 mb-3">
    {% for post in posts %}
        <a class="d-block mb-1 pb-2" style="word-wrap: break-word; border-bottom: 1px dashed #ccc" href="/post/{{ post.id }}/show">
            {{ post.title|e }}
        </a>
    {% endfor %}
</div>