<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">DevTool (gab)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if current_path == '/' %}active{% endif %}"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item {% if current_path == '/post/create' %}active{% endif %}"><a class="nav-link" href="/post/create">Create Post</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.id is defined and user.id is not null %}
                <li><a href="/logout"><span class="fa fa-power-off"></span> Logout</a></li>
            {% else %}
                <li><a href="/register"><span class="fa fa-user"></span> Sign Up</a></li>
                <li><a href="/login"><span class="fa fa-sign-in"></span> Login</a> </li>
            {% endif %}
        </ul>
    </div>
</nav>